@import "tailwindcss";

.font-great{
    font-family: 'Great Vibes', cursive;
}

.font-bebas{
    font-family: 'Bebas Neue', cursive;
}


.font-rock {
  font-family: "Rock Salt", cursive;
  font-weight:bolder;
  font-style: normal;
}